 #descriptionEditor {
    max-height: 250px;
    height: 250px;
    background-color: white;
    border-collapse: separate;
    border: 1px solid rgb(204, 204, 204);
    padding: 4px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
 }



.game-wrapper {
    border: 1px solid black;   
}

.game-wrapper {
    margin-top: 10px;
}

.game-topbar {
    background-color: cadetblue;
}

.game-img {
    display: inline-block;
    margin: 5px 5px 5px 5px;
    width: 50px;
    height: 50px;
}

.game-title {
    display: inline-block;
    color:white;   
}

.subcontent-img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.subcontent-title {
    font-weight: bold;
    font-size: 18;
    text-align: center;
    height: 50px;
}

.subcontent-description {
    text-align: center;
    font-size: 10;
}

.game-subcontent {
    margin-top: 10px;
    margin-bottom: 10px;
}